/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #333;
}

header {
    background-color: #5499c7;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.rating-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.rating-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #5499c7;
}

.stars-container {
    margin-bottom: 20px;
}

.star {
    font-size: 2.5em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star:hover,
.star.selected {
    color: #5499c7;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    resize: none;
}

.button-container {
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5499c7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #5499c7;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}